@inherits LayoutComponentBase
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    const  update = async()=>{  

    const Id = $('#id').val();

    const student = {'Id':Id, 'Code':$('#code').val(),'Name':$('#name').val(),'Semester':$('#sem').val(),'Carreer':$('#car').val()};

    console.log(student);

    const send = await fetch(`http://localhost:5190/Student/${Id}`, {
    method: "PUT",
    headers: {
        "Content-Type": "application/json"
    },
    body: JSON.stringify(student)

    
})
 location.reload();

};

const  del = async()=>{  

    const Id = $('#id').val();

    const send = await fetch(`http://localhost:5190/Student/${Id}`, {
    method: "DELETE",
    headers: {
        "Content-Type": "application/json"
    },body:""})

 window.location.href="/students";

};
 const create = async()=>{  

    const student = {'Code':$('#code').val(),'Name':$('#name').val(),'Semester':$('#sem').val(),'Carreer':$('#car').val()};

    const send = await fetch(`http://localhost:5190/Student`, {
    method: "POST", 
    headers: {
        "Content-Type": "application/json"
    },
    body: JSON.stringify(student)

    
})
  window.location.href="/students";

};
</script>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
